{{> head}}
{{> navbar}}
<div>
    <div class="col-8">
        <h1>Pied Pipper</h1>
        <p>Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness. Removal request delight if on he we. Unaffected in we by apartments astonished to decisively themselves. Offended ten old consider speaking. 
Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to dependent in. Everything few frequently discretion surrounded did simplicity decisively. Less he year do with no sure loud.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/pp.png" alt="img-thumbnail">
    </div>
</div>
{{>footer}}